@model Kalaroa_Alia_Madrasha.Models.Admission
@{
    @*Layout = "_LayoutForAccount";*@
    ViewData["Title"] = "Student Admission";
}

<h1 style="text-align: center;">Student Admission Details</h1>

<div class="container">
    <table border="1" class="table table-bordered" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <td style="text-align:center; font-weight: bold;">Admission Id</td>
                <td style="text-align:center; font-weight: bold;">Student Id</td>
                <td style="text-align:center; font-weight: bold;">Addmission Fees</td>
                <td style="text-align:center; font-weight: bold;">Library Fee</td>
                <td style="text-align:center; font-weight: bold;">Laboratory Fee</td>
                <td style="text-align:center; font-weight: bold;">Fixed Amount</td>
                <td style="text-align:center; font-weight: bold;">Pay Amount</td>
                <td style="text-align:center; font-weight: bold;">Payment Status</td>
            </tr>
        </thead>

        <tr>
            <td style="text-align:center">@Model.AdmissionId</td>
            <td style="text-align:center">@Model.StudentId</td>
            <td style="text-align:center">@Model.AdmissionFees</td>
            <td style="text-align:center">@Model.LibraryFee</td>
            <td style="text-align:center">@Model.LaboratoryFee</td>
            <td style="text-align:center">@Model.FixedAmount</td>
            <td style="text-align:center">@Model.PayAmount</td>
            @if (Model.PaymentStatus == 0)
            {
                <td style="text-align:center">Paid</td>}
            else
            {
                <td style="text-align:center">Due</td>}
        </tr>
    </table>
</div>