@model Kalaroa_Alia_Madrasha.Models.Student
@{
    ViewData["Title"] = "Student Details";
}

<h1 style="text-align:center">Student Information Details</h1>

<div class="container" style="padding-left: 1px;">
    <table border="1" class="table table-hover" cellpadding="1" cellspacing="1">
        <tbody>
            <tr>
                <td style="text-align:center; font-weight: bold;">Student Id</td>
                <td style="text-align:center">@Model.StudentId</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Student Name</td>
                <td style="text-align:center">@Model.StudentName</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Father Name</td>
                <td style="text-align:center">@Model.FatherName</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Mother Name</td>
                <td style="text-align:center">@Model.MotherName</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Department</td>
                <td style="text-align:center">@Model.Department</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Class</td>
                <td style="text-align:center">@Model.Class</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Section</td>
                <td style="text-align:center">@Model.Section</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Scholarship</td>
                <td style="text-align:center">@Model.Scholarship</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Session</td>
                <td style="text-align:center">@Model.Session</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Nationality</td>
                <td style="text-align:center">@Model.Nationality</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">DOB</td>
                <td style="text-align:center">@Model.DOB</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Gender</td>
                <td style="text-align:center">@Model.Gender</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Present Address</td>
                <td style="text-align:center">@Model.PresentAddress</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Permanent Address</td>
                <td style="text-align:center">@Model.PermanentAddress</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Contact</td>
                <td style="text-align:center">@Model.Contact</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Email</td>
                <td style="text-align:center">@Model.Email</td>
            </tr>
            <tr>
                <td style="text-align:center; font-weight: bold;">Photo</td>
                <td style="text-align:center">@Model.Photo</td>
            </tr>
        </tbody>
    </table>
</div>