@model Kalaroa_Alia_Madrasha.ViewModel.ResultVM
@{
    ViewData["Title"] = "Result";
}


<h1 style="text-align:center">Result Information</h1>
<div class="container">
    <table border="1" class="table table-bordered">
        <thead>
            <tr>
                <td style="text-align:center; font-weight: bold;">Student Id</td>
                <td style="text-align:center; font-weight: bold;">Student Name</td>
                <td style="text-align:center; font-weight: bold;">Session</td>
                <td style="text-align:center; font-weight: bold;">Department</td>
                <td style="text-align:center; font-weight: bold;">Class</td>
                <td style="text-align:center; font-weight: bold;">Subject</td>
                <td style="text-align:center; font-weight: bold;">Marks</td>
            </tr>
        </thead>

        <tr>
            <td style="text-align:center">@Model.StudentId</td>
            <td style="text-align:center">@Model.StudentName</td>
            <td style="text-align:center">@Model.StSession</td>
            <td style="text-align:center">@Model.SDepartment</td>
            <td style="text-align:center">@Model.SClass</td>
            <td style="text-align:center">@Model.Subject</td>
            <td style="text-align:center">@Model.Marks</td>
        </tr>
    </table>
</div>

